.slideshow-container {
    position: relative;
    width: 100%; /* Adjust width as needed */
    height: 500px;
  }
  
  /* CSS for the individual slides */
  .slide {
    display: none;
  }
  .slide img {
    margin:auto;
    width: 75%; /* Make all images fill the container width */
    height: 100%; /* Make all images fill the container height */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
  }
  
  /* Show the active slide */
  .active {
    display: block;
  }
  
  /* CSS for the previous and next buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    background-color: white; /* Adjust background color */
    color: black; /* Adjust text color */
    border: none;
    outline: none;
    padding: 10px 15px;
    border-radius: 0;
    margin: 0 36px;
  }
  
  /* Positioning for the previous button */
  .prev {
    left: 0;
  }
  
  /* Positioning for the next button */
  .next {
    right: 0;
  }

  /* Media query for smaller screens */
@media (max-width: 768px) {
    .slideshow-container {
      height: 300px; /* Adjust height for smaller screens */
    }
    
    .slide img {
      height: 100%; /* Make images fill the container height */
    }
    
    .prev,
    .next {
        padding: 2px 8px;
        top: 102px;
        margin: 0 -36px;
    }
  }