.container {
    width: 90%;     
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: auto;
  }
  
  .landingPage {
    text-align: center;
    padding: 280px 0;
  }

  .infoSection {
    display: flex;
    flex-flow: row wrap;
    align-items: center; /* Center items horizontally */
    margin-top: 20px;
}
  
  .infoBox {
    width: 100%;
    max-width: 600px; /* Set a maximum width to prevent it from becoming too wide */
    padding: 20px;
    box-sizing: border-box; /* Include padding in the width calculation */
}

  .infoBoxes{
    background: white;
    border-radius: 5%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  }
  
  .hr {
    width: 100%;
    margin: 20px 0;
    border: none;
    border-top: 1px solid #ccc;
  }
  
  .menu {
    text-align: center;
  }
  
  .menuCategory {
    margin-bottom: 20px;
  }
  
  .menuCategory h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .menuCategory ul {
    list-style-type: none;
    padding: 0;
  }
  
  .menuCategory ul li {
    margin: 5px 0;
  }


  /* styles.css */

.navbar {
    background-color: #2f4f4f;
    color: white;
    padding: 10px 42px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .logo {
    font-size: 1.5rem;
  }

  .logo img {
    width: 30px; /* Adjust the width of the image */
    height: auto; /* Maintain aspect ratio */
    /* margin-right: 10px; Add some spacing between the image and text */
  }
  
  .nav-links {
    display: flex;
    list-style-type: none;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
  }
  
  .nav-links a:hover {
    text-decoration: none;
  }
  

  .footer {
    background-color: #333; /* Dark background color */
    color: white;
    padding: 20px 0; /* Add some padding for spacing */
    text-align: center;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  }

  .google-map-container {
    padding: 48px;
    margin: auto;
  }

  .google-map {
    width: 400px; /* Set the width */
    height: 300px; /* Set the height */
    border: 0; /* Remove the border */
  }


.fading-letters {
    display: inline-block;
  }
  
  .letter {
    font-size: 64px;
    font-weight: bold;
    opacity: 0; /* Initially hide the letters */
    animation: fade-in 1s forwards; /* Apply fade-in animation */
  }

  .letter2{
    font-size: 18px;
    opacity: 0; /* Initially hide the letters */
    animation: fade-in 3s forwards; /* Apply fade-in animation */
  }

  .bold {
    font-weight: bold;
  }

  .png-rain {
    width: '100px';
    height: 'auto';
    position: absolute;
    pointer-events: none; /* Ensures that the PNG elements do not interfere with mouse events */
  }
  
  @keyframes falling {
    from {
      transform: translateY(-10%);
      opacity: 1;
    }
    to {
      transform: translateY(100%);
      opacity: 0;
    }
  }
  
  /* Keyframes for fading in */
  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(-20px); /* Optional: Start from slightly above */
    }
    to {
      opacity: 1;
      transform: translateY(0); /* Optional: End at original position */
    }
  }

  @media screen and (max-width: 768px) {
    .infoSection {
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center items horizontally */
    }
    .letter {
        font-size: 38px;
        font-weight: bold;

      }
    
      .letter2{
        font-size: 16px;
      }
}