.container {
    width: 100%;     
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .landingPage {
    position: relative; /* Ensure the pseudo-element is positioned relative to the .landingPage */
    text-align: center;
    padding: 300px 0;
    background-image: url('/pho.png');
    background-size: cover; /* Ensure the image covers the entire element */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    width: 100%; /* Ensure the div spans the full width */
    height: 100vh; /* Set the height to 100% of the viewport height */
    overflow: hidden; 
  }

  .landingPage::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(71, 71, 71, 0.7); /* Semi-transparent overlay */
    z-index: 1; /* Ensure the overlay is above the background image */
}

.landingPage .content {
  position: relative;
  z-index: 2; /* Ensure the content is above the overlay */
  color: white; /* Ensure the text color is white */
  opacity: 1; /* Ensure the text is visible */
  font-family: 'Afacad', sans-serif;
  top: -100px;
}

.landingPage h1, .landingPage p {
  margin: 0;
  padding: 0;
}

  .infoSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}
  
  .infoBox {
    width: 100%;
    max-width: 600px; /* Set a maximum width to prevent it from becoming too wide */
    padding: 20px;
    box-sizing: border-box; /* Include padding in the width calculation */
}

  .infoBoxes{
    background: white;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  }

  .contactBackground {
    width: 100%;
    background-color: #F45B42;
    display: flex;
    justify-content: center;
    padding: 40px 20px;
  }
  
  .hr {
    width: 100%;
    margin: 20px 0;
    border: none;
    border-top: 1px solid white;
  }
  
  .menu {
    text-align: center;
  }

  .menu h1 {
    font-size: 29px;
    padding: 20px 0;
    margin: auto;
  }
  
  .menuCategory {
    margin-bottom: 20px;
    background: white;
    border-radius: 15px;;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    padding: 24px;
  }

  .menuCategory h3 {
    font-size: 20px;
    margin-bottom: 10px;
    text-decoration: underline;
  }
  
  .menuCategory ul {
    list-style-type: none;
    padding: 0;
  }
  
  .menuCategory ul li {
    margin: 5px 0;
    text-align: left;
  }
  
  .foodItems{
    text-align: left;
  }

  .options {
    padding-left: 24px;
  }

  .priceItems{
    text-align: right;
  }

  /* styles.css */

.navbar {
    background-color: #FFBB46;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  .nav-links {
    display: flex;
    justify-content: center;
    list-style-type: none;
  }
  
  .nav-links li {
    margin: 8px 16px;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    font-family: 'Afacad', sans-serif;
    font-size:  24px;
    letter-spacing: 1px;
  }
  
  .nav-links a:hover {
    text-decoration: none;
  }
  

  .footer {
    background-color: #333; /* Dark background color */
    color: white;
    padding: 20px 0; /* Add some padding for spacing */
    text-align: center;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  }

  .google-map-container {
    padding: 48px 0;
    margin: auto;
  }

  .google-map {
    width: 400px; /* Set the width */
    height: 300px; /* Set the height */
    border: 0; /* Remove the border */
    border-radius: 15px;
  }


.fading-letters {
    display: inline-block;
  }
  
  .letter {
    font-size: 121px;
    opacity: 0; /* Initially hide the letters */
    animation: fade-in 1s forwards; /* Apply fade-in animation */
    color: white;
    line-height: 1.1; /* Adjust the line height for spacing between lines */
    text-align: center; /* Center the text */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    color: white; /* Ensure the text color is white */
    font-family: 'Afacad', sans-serif; /* Apply the Afacad font */
  }

  .letter2{
    font-size: 32px;
    opacity: 0; /* Initially hide the letters */
    animation: fade-in 1s forwards; /* Apply fade-in animation */
    color: white;
    line-height: 1.1; /* Adjust the line height for spacing between lines */
    text-align: center; /* Center the text */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    color: white; /* Ensure the text color is white */
    font-family: 'Afacad', sans-serif; /* Apply the Afacad font */
  }

  .bold {
    font-weight: bold;
  }

  .menuItem{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  .png-rain {
    width: '100px';
    height: 'auto';
    position: absolute;
    pointer-events: none; /* Ensures that the PNG elements do not interfere with mouse events */
  }

  @keyframes falling {
    from {
      transform: translateY(-10%);
      opacity: 1;
    }
    to {
      transform: translateY(100%);
      opacity: 0;
    }
  }
  
  /* Keyframes for fading in */
  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(-20px); /* Optional: Start from slightly above */
    }
    to {
      opacity: 1;
      transform: translateY(0); /* Optional: End at original position */
    }
  }

  @media screen and (max-width: 786px) {
    .infoSection {
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center items horizontally */
    }

    .letter {
      font-size: 48px;
      font-weight: bold;
  }
  
  .letter2 {
      font-size: 16px;
  }
  
  .options {
      padding-left: 0px;
  }
  
  .navbar {
      position: sticky !important;
      top: 0;
      z-index: 1000;
  }
  
    }